@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.newArrivals {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #212121;
}
.more-than-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  /* identical to box height, or 175% */

  color: #b5b5c3;
}
* {
  padding: 0px;
  margin: 0px;
}
body {
  width: 100vw;
  height: 100vh;
}

.textandbtns {
  display: flex;
  justify-content: space-between;
  margin: 30px 30px 30px 30px;
}
.new-repport {
  width: 108px;
  height: 34px;
  background: #3699ff;
  border-radius: 6px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  border: none;
  margin-left: 40px;
}
.create {
  border: none;
  width: 80px;
  height: 34px;
  right: 30px;
  top: 34px;

  background: #f64e60;
  border-radius: 6px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.wrapper-general {
  display: flex;
  flex-direction: row;
}

.firstwrapper {
  display: flex;
  flex-direction: column;
}
#header-for-table {
  border-collapse: collapse;
  background-color: #e5e5e5;
  height: 43px;
  color: #b5b5c3;
  font-size: 12px;
  text-align: left;
}

th:first-child {
  color: #464e5f;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding-left: 20px;
}
th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
.View-offer {
  width: 92px;
  height: 34px;
  right: 30px;
  top: 181px;

  background: #c9f7f5;
  border-radius: 6px;
  border: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  color: #1bc5bd;
}
